<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 style="font-weight: bold">Posts</h2>
      <ul class="list-group">
        <app-post-list-item-component *ngFor="let post of posts"
                                      [postTitle]="post.title"
                                      [postContent]="post.content"
                                      [postLoveIts]="post.loveIts"
                                      [postCreatedAt]="post.created_at">
                                    </app-post-list-item-component>
      </ul>
    </div>
  </div>
</div>
